* {
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}

.container{
    height: 100vh;
    /*width: 100vw;*/
}
.parent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: red;
    padding: 10px;
}
.section{
    display: flex;
    flex-wrap: wrap;
    flex-grow:1;
    flex-shrink:0;
    flex-basis: 100%;
    background-color: chartreuse;
    width: 100%;
    padding: 10px;
    margin:0px 5px 5px 0px;
}

.col{
    border:5px solid red;
}
.blue{
    background: blue;
}
.yellow{
    background: yellow;
}
.purple{
    background: purple;
}
.col50{
    flex-basis: 50%;
    width: 50%;
    max-width: 50%;
}
.col25{
    flex-basis: 25%;
    width: 25%;
    max-width: 25%;
}
.col40{
    flex-basis: 40%;
    width: 40%;
    max-width: 40%;

}
.col60{
    flex-basis: 60%;
    width: 60%;
    max-width: 60%;
}


@media (max-width:900px) {
    .col25 {
        flex-basis: 50%;
        width: 50%;
        max-width: 50%;
    }

    .col50, .col40, .col60 {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
    }
}